.typing-dot {
  width: 6px;
  height: 6px;
  background-color: #666;
  border-radius: 50%;
}

/* สร้างแอนิเมชันเด้งขึ้น-ลง */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
/* ทำให้จุดเด้งขึ้น-ลง โดยใช้ bounce และวนซ้ำไปเรื่อยๆ */
.animate-bounce {
  animation: bounce 1s infinite;
}

.delay-100 {
  animation-delay: 0.1s;
}

.delay-200 {
  animation-delay: 0.2s;
}

.delay-300 {
  animation-delay: 0.3s;
}

/* เปลี่ยนสีเป็ */
